<div class="shadow">
    <div class="table-head">
        <span>
            <img class="trans-4" src="../../../assets/images/arrow-turn left -down.png" alt="delete">
            <button class="delete del-dis" disabled>Delete</button>
        </span>
        <span>
            <img src="../../../assets/images/table-add.png" alt="add">
        </span>
    </div>

    <div class="overflow">
        <table>
            <thead>
                <tr>
                    <th> <input type="checkbox" [checked]="isSelectAllCheckboxChecked" (input)="onSelectAllCheckBoxChange($event)"> </th>

                    <th (click)="sort(columnNames.User)">  
                        <div>
                            <span>USER</span>
                            <img src="../../../assets/images/svg/expand_all.svg" alt="sort">
                        </div>
                    </th>
                    <th (click)="sort(columnNames.Location)">
                        <div>
                            <span>LOCATION</span>
                            <img src="../../../assets/images/svg/expand_all.svg" alt="sort">
                        </div>    
                    </th>
                    <th (click)="sort(columnNames.Department)">
                        <div>
                            <span>DEPARTMENT</span>
                            <img src="../../../assets/images/svg/expand_all.svg" alt="sort">
                        </div>
                    </th>
                    <th (click)="sort(columnNames.Role)">
                        <div>
                            <span>ROLE</span>
                            <img src="../../../assets/images/svg/expand_all.svg" alt="sort">
                        </div>
                    </th>
                    <th (click)="sort(columnNames.EmpNo)">
                        <div>
                            <span>EMP NO</span>
                            <img src="../../../assets/images/svg/expand_all.svg" alt="sort">
                        </div>
                    </th>
                    <th (click)="sort(columnNames.Status)">
                        <div>
                            <span>STATUS</span>
                            <img src="../../../assets/images/svg/expand_all.svg" alt="sort">
                        </div>
                    </th>
                    <th (click)="sort(columnNames.JoiningDate)">
                        <div>
                            <span>JOIN DT</span>
                            <img src="../../../assets/images/svg/expand_all.svg" alt="sort">
                        </div>
                    </th>
                    <th class="f-30 rel">
                        <img src="../../../assets/images/svg/three_dots.svg" alt="sort">
                    </th>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let emp of employeesData">
                    <td ><input type="checkbox" (input)="onCheckBoxClick(emp.empNo)" [checked]="selectedEmployees.has(emp.empNo) "></td>
                    <td>
                        <div class="flex-center gap-05"> 
                            <div><img class="emp-profile-icon" src="../../../assets/images/user3.png" alt="profile"></div>
                            <div class="span-block">
                                <span name="userName">{{emp.firstName.concat(emp.lastName)}}</span>
                                <span>{{emp.email}}</span>
                            </div>
                        </div>        
                    </td>
                    <td>{{emp.location}}</td>
                    <td>{{emp.role.department}}</td>
                    <td>{{emp.role.roleName}}</td>
                    <td>{{emp.empNo}}</td>
                    <td><span class="status green">Active</span></td>
                    <td>{{emp.joiningDate}}</td>
                    <td class="f-30 padd-r-1r rel">
                        <!-- <div class="ellipsis ds-none">
                            <div class="c-pointer" onclick="editOrViewEmployeeDetails(this,'viewDetails')">View Details</div>
                            <div class="c-pointer" onclick="editOrViewEmployeeDetails(this,'editData')">Edit</div>
                            <div class="c-pointer" onclick="deleterow(this)">Delete</div>
                        </div> -->
                        <img src="../../../assets/images/svg/three_dots.svg" alt="">
                    </td>
                    </tr>


            </tbody>
        </table>
    </div>
</div>